.todo-item {
    width: 100%;
    background-color: #262626;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px 0px #0000000F;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-text {
    text-align: left;
}