.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.empty-list-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #808080;
    padding-top: 16px;
}

.bold-text {
    font-weight: bold;
}